<a href="https://colab.research.google.com/github/Adjalma/Jupyter-notebook/blob/main/C%C3%B3pia_de_DS_PY0_Item_11_Aula_9_Operadores_Aritm%C3%A9ticos_%5Bpr%C3%A1tica%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![dnc.png]()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

</b> <br>Consultor: Everton Menezes <br>

# Operadores Aritméticos

<h1> Operações </h1>

> Soma: `+`

> Subtração: `-`

> Multiplicação: `*`

> Divisão: `/`

> Potência: `**`

> Divisão inteira: `//`

> Resto da divisão: `%`

<h3> Exemplos </h3>

Dadas as variáveis: 

a = 7

b = 2

Faça as operações aritméticas acima

In [ ]:
# Declaração de variáveis
a = 7
b = 2

In [ ]:
# Soma 7 + 2 == 9
print(a+b)
print(type(a+b))

9
<class 'int'>

In [ ]:
# Subtração 7 - 2 == 5
print(a-b)
print(type(a-b))

5
<class 'int'>

In [ ]:
# Multiplicação 7 * 2 == 14
print(a * b)
print(type(a*b))

14
<class 'int'>

In [ ]:
# Divisão 7 / 2 == 3.5 -> Observe que o resultado final é uma variável do tipo float
print(a/b)
print(type(a/b))

3.5
<class 'float'>

In [ ]:
# potência 7 ** 2 == 7 * 7 == 49
print(7**2)
print(type(7**2))

49
<class 'int'>

In [ ]:
# divisão inteira e resto da divisão
# 7 dividido por 2 é 3 inteiros mais 1 de resto. 3 * 2 + 1 == 7
print(a // b)
print(a % b)

3
1

<h1> Operações com Textos 'str' </h1>

Podemos utilizar 2 operações com textos:

> Concatenar: `+`

> Repetir: `*`

In [ ]:
# Concatenação de 2 textos
nomePrimeiro = "Adjalma"
nomeUltimo = "Aguiar"
nomeCompleto = nomePrimeiro + ' ' + nomeUltimo
print(nomeCompleto)

Adjalma Aguiar

In [ ]:
# Repetir a palavra 'Olá' 5 vezes
print ('Olá' * 5)

OláOláOláOláOlá

<h3> Mini desafio </h3>

Tente escrever um texto de boas vindas com print de modo que ele fique da seguinte forma:

---

<center>Seja Bem Vindo ao curso de Python da DNC </center>

---

In [ ]:
# print com repetição
print('+-'*40)
print(' ')
print(' '*20,'Seja bem vindo ao curso de python da DNC')
print(' ')
print('+-'*40)

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

                     Seja bem vindo ao curso de python da DNC

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

## Ordem de Precedência Aritmética

1.   Parênteses: `( )`
2.   Potência: `**`
3.   Multiplicação, Divisão, Resto, Divisão inteira: `*`, `/`, `%`, `//`
4.   Soma e Subtração: `+`, `-`

<h2> Exercícios </h2>
Para as contas abaixo utilize as variáveis:

a = 5

b = 7

c = 3.45

d = 5.50

In [ ]:
# Declarando as variáveis:
a = 5
b = 7
c = 3.45
d = 5.50

In [ ]:
# Quanto é: a + b * d
print(a + b * d)

43.5

In [ ]:
# Quanto é: (a + b) * d
print((a + b) * d)

66.0

In [ ]:
# Quanto é: b ** a * c
print(b ** a * c)

57984.15

In [ ]:
# Quanto é: b ** (a * c)
print(b ** (a * c))

378391341587299.8

### Problema 1

Fui numa hamburgueria e comprei 2 lanches de 10,90 cada, 3 refris de 4,50 cada e 1 batata por 8,45.

O pagamento foi no dinheiro com uma notas de 10 reais e 5 reais. Pergunta-se:

1.   Qual foi o valor total da conta?
2.   Quantas notas de 10 reais eu usei?
3.   Quantas notas de 5 reais eu usei?
4.   Quanto voltou de troco pra mim em notas?
5.   Quanto voltou de troco pra mim em moedas?

In [ ]:
# Declarando as variáveis
lanchePreco = 10.90
lancheQtd = 2
refriPreco = 4.50
refriQtd = 3
batataPreco = 8.45
batataQtd = 1
contaTotal = lanchePreco*lancheQtd + refriPreco*refriQtd + batataPreco*batataQtd

# Respondendo item 1:
print('O valor total da conta foi de: R$',contaTotal)

O valor total da conta foi de: R$ 43.75

In [ ]:
# Calculando item 2:
nota10Qtd = contaTotal // 10
valorFaltante = contaTotal - nota10Qtd*10

print(nota10Qtd)
print(valorFaltante)

4.0
3.75

In [ ]:
# Respondendo item 2:
# Já que o valorFaltante é menor que 5 reais, então não preciso gastar outra nota de 10

print('Usei', nota10Qtd,'notas de 10 reais')

Usei 4.0 notas de 10 reais

In [ ]:
# Calculando item 3:
nota5Qtd = valorFaltante // 5 + 1
valorFaltante = valorFaltante - nota5Qtd * 5

print(nota5Qtd)
print(valorFaltante)

1.0
-1.25

In [ ]:
# Respondendo item 3:
# Já que o novo valorFaltante é menor do que 0 reias, então já paguei o que eu precisava. Não estou devendo

print('Usei', nota5Qtd,'notas de 5 reais')

Usei 1.0 notas de 5 reais

In [ ]:
# Calculando item 4:
# Já que a única nota menor que 5 reais é a nota de 2 reais, temos que ver se ela é maior do que o Valor Faltante.

nota2Qtd = (-valorFaltante) // 2
valorFaltante = valorFaltante + nota2Qtd * 2

print(nota2Qtd)
print(valorFaltante)

0.0
-1.25

In [ ]:
# Respondendo item 4:
print('Recebi', nota2Qtd,'notas de 2 reais')

Recebi 0.0 notas de 2 reais

In [ ]:
# Calculando item 5:
# Já que já recebemos tudo o que dava em notas, o que falta é somente as moedas

moedaValor = 0 - valorFaltante
valorFaltante = moedaValor + valorFaltante

print(moedaValor)
print(valorFaltante)

1.25
0.0

In [ ]:
# Repondendo item 5:
print('Recebi', moedaValor,'em moedas')

Recebi 1.25 em moedas

# Transformando Variáveis

Utilizamos as seguintes funções para transformar os tipos das variáveis:

> Para transformar para string: str( )

> Para transformar para inteiro: int( )

> Para transformar para real: float( )

Essa funcionalidade é muito utilizada para tratar os dados de inputs de usuários e/ou para tratar dados importados de outras fontes e bancos de dados.

<h3> Exemplos </h3>

Vamos utilizar as seguintes variáveis:

a = 1.857

b = '4'

c = True

d = False

e = 'tex34'

<h3> Usando o int( ) </h3>

Transforme as variáveis acima para int

In [ ]:
# Declarando as variáveis
a = 1.857
b = '4'
c = True
d = False
e = 'tex34'

In [ ]:
# int(a) 
int(a)

1

Observe que na variável "a" foi pega a parte inteira da variável e desprezados os algarismos após a vírgula

In [ ]:
# int(b)
int(b)

4

In [ ]:
# int(c)
int(c)

1

In [ ]:
# int(d)
int(d)

0

Observe que nas variáveis "c" e "d" os 'True's foram convertidos em 1 e os 'False's foram convertidos em 0. Essa é uma outra propriedade muito usada em programação.

Condições Verdadeiras podem ser comparadas com 1 (e até usadas em cálculos)

Condições Falsas podem ser comparadas com 0

In [ ]:
# int(e)
#int(e)

Observe que nem sempre conseguiremos converter todas as variáveis.

<h3> Usando o float( ) </h3>

Transforme as mesmas variáveis acima para float

Mude "a" para 1

In [ ]:
a = 1

# float(a) 
float(a)

1.0

In [ ]:
# float(b)
float(b)

4.0

Observe que mesmo que as variáveis não tenham casas decimais quando elas são convertidas para float o próprio Python já adiciona pelo menos uma casa decimal a ela.

In [ ]:
# float(c)
float(c)

1.0

In [ ]:
# float(d)
float(d)

0.0

In [ ]:
# float(e)
#float(e)

Observe que o erro é até diferente do erro que apareceu no int mas mesmo assim ainda apareceu o erro. Também não é sempre que conseguiremos converter as variáveis para float.

<h3> Usando o str( ) </h3>

Transforme as mesmas variáveis acima para float

Mude b para 2.758

In [ ]:
b = 2.758

# str(a) 
str(a)

'1'

In [ ]:
# str(b) 
str(b)

'2.758'

Observe que o str basicamente pega os valores numéricos e coloca entre aspas para fazer essa transformação

In [ ]:
# str(c) 
str(c)

'True'

In [ ]:
# str(d) 
str(d)

'False'

O mesmo acontece com as variáveis Booleanas.

# Impressão personalizada

<h3>print( ) com .format( )</h3>

Para fazer um print mais organizado podemos utilizar o chamado de **Máscaras** `{}` para dizer para o print onde que queremos que cada variável apareça.

Depois basta usar o **Método** `.format( )` para dizer quais variáveis serão colocadas dentro do print.

<h3>Vamos para o exemplo?</h3>

In [ ]:
# print comum:
print('Você pediu um lanche de: R$',lanchePreco,'e uma batata de: R$',batataPreco, 'totalizando: R$',lanchePreco+batataPreco)

Você pediu um lanche de: R$ 10.9 e uma batata de: R$ 8.45 totalizando: R$ 19.35

In [ ]:
# print formatado
print('Você pediu um lanche de R$ {} e uma batata de: R$ {} totalizando R$ {}'.format(lanchePreco,batataPreco,lanchePreco+batataPreco))

Você pediu um lanche de R$ 10.9 e uma batata de: R$ 8.45 totalizando R$ 19.35

<h2> Personalizando ainda mais a Máscara </h2>

Dentro da máscara temos:

{0:10.2f}

> `0` -> posição que a variável aparece dentro do .format( ). [pode ser deixado em branco]

> `:` -> separador a partir dele começamos as formatações

> `10` -> separamos 10 casas (caracteres) dentro do print para mostrarmos o número

> `.` -> a partir do ponto, estamos formatando os valores após a vírgula decimal

> `2` -> qtd de casas decimais

> `f` -> para float ou d -> para inteiro

<h3> Exemplo </h3>

plote as variáveis abaixo:

a = 245

b = 2.835895

In [ ]:
# Exemplo
a = 245
b = 2.835895
print('| {0:10} | e | {1:10.3f} |'.format(a,b))

|        245 | e |      2.836 |

# Exercícios

## Exercício 1:

Vamos testar os comportamentos dos diferentes operadores aritméticos. Para isso vamos montar uma calculadora, eai? Bora, vamos nessa?

Criar variáveis n1 e n2 que receberão inputs do tipo INT do usuário. (não se esqueça de tratar o que está sendo recebido rsrs)
Exibir o resultado da Adição dessas 2 variáveis.
Exibir o resultado da Subtração dessas variáveis.
Exibir o resultado da Multiplicação dessas variáveis.
Exibir o resultado da Divisão dessas variáveis.
Exibir o resultado do Módulo (Resto da divisão) entre essas variáveis.
Exibir o resultado de uma variável Exponenciando a outra.
[ ]

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
n1 = 7
n2 = 5
print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 / n2)
print(n1 % n2)
print(n1 ** n2)

12
2
35
1.4
2
16807

## Exercício 2:
Faça um programa que o usuário digita um valor inteiro e nós mostramos toda a tabuada daquele número.

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
Tabuada = int(input('Digite um numero inteiro: '))
print('-'*20)
print("13 * 0 = ",Tabuada * 0)
print("13 * 1 = ",Tabuada * 1)
print("13 * 2 = ",Tabuada * 2)
print("13 * 3 = ",Tabuada * 3)
print("13 * 4 = ",Tabuada * 4)
print("13 * 5 = ",Tabuada * 5)
print("13 * 6 = ",Tabuada * 6)
print("13 * 7 = ",Tabuada * 7)
print("13 * 8 = ",Tabuada * 8)
print("13 * 9 = ",Tabuada * 9)
print("13 *10 = " ,Tabuada * 10)

Digite um numero inteiro: 13
--------------------
13 * 0 =  0
13 * 1 =  13
13 * 2 =  26
13 * 3 =  39
13 * 4 =  52
13 * 5 =  65
13 * 6 =  78
13 * 7 =  91
13 * 8 =  104
13 * 9 =  117
13 *10 =  130

In [ ]:
tabuada=int(input("Digite um numero inteiro: "))
print('-'*20)
for count in range(10):
    print("%d * %d = %d" % (tabuada, count+1, tabuada*(count+1)) )

Digite um numero inteiro: 13
--------------------
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

## Exercício 3:

Faça um programa no qual o usuário digite a distância percorrida por um carro e a qtd de litros de combustível gasto.

Calcule e mostre para o usuário quantos km/l o seu carro faz.

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
km = 200
qComb = 12
kml = (km / qComb)
kml = 16.67
print('Quantos quilometros você rodou com seu carro?',km)
print('Quantos litros de combustível foi gasto',qComb)
print('O seu carro faz', kml,"km/l")

Quantos quilometros você rodou com seu carro? 200
Quantos litros de combustível foi gasto 12
O seu carro faz 16.67 km/l