<a href="https://colab.research.google.com/github/Adjalma/Jupyter-notebook/blob/main/C%C3%B3pia_de_DS_PY0_Item_22_Aula_15_Tuplas_%5Bpr%C3%A1tica%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![dnc.png]()

<br>Consultor: Everton Menezes </br>

# Tuplas

As tuplas são variáveis compostas imutáveis.

<h1> Estrutura </h1>

As variáveis comuns só conseguem armazenar 1 valor por vez. 

Já as tuplas conseguem armazenar diversos valores diferentes dentro de uma só variável. Elas serão muito úteis para nós não precisarmos ficar declarando infinitas variáveis.

Para declarar uma tupla basta colocar todos os valores entre parênteses e separados por vírgula.

```
tupla = ('var1','var2','var'3)
```

<h3> Exemplo 1 </h3>

Defina uma tupla com 3 strings e use o print para ver como ela se apresenta.

In [ ]:
# Definindo a tupla
t1 = ('lanche','batata','refri')
# Imprimindo a tupla
print(t1)

('lanche', 'batata', 'refri')

<h3> Exemplo 2 </h3>

Agora defina outra tupla com valores numéricos

In [ ]:
# Definindo a tupla
t2 = (1,3,5,7)
# Imprimindo a tupla
print(t2)

(1, 3, 5, 7)

<h3> Exemplo 3 </h3>

Agora defina uma tupla com vários tipos de dados dentro da mesma tupla.

In [ ]:
# Definindo a tupla
t3 = ('lanche', 10.9,3, True)
# Imprimindo a tupla
print(t3)

('lanche', 10.9, 3, True)

Observe que as tuplas aceitam qualquer tipo de dado e é possível ter mais de um tipo de dado dentro da mesma tupla.

## Acessando seus Valores

Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes

Cada valor dentro da tupla fica salvo como um índice que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.

Então para a tupla abaixo:
```
      [0] [1] [2] [3]
t2 = ( 1,  3,  5,  7 )
```
Os termos dela são:
```
t2[0] == 1
t2[1] == 3
t2[2] == 5
t2[3] == 7
```

<h3> Exemplo 1 </h3>

Para a tupla acima tente imprimir cada um dos seus valores.

In [ ]:
# Imprimindo
print(t2[2])

print(t2[0]+t2[1])

5
4

<h3> Exemplo 2 </h3>

Imprima a soma de cada valor desta tupla

In [ ]:
# Somando
soma = (t2[0]+t2[1]+t2[2]+t2[3])

# Imprimindo
print(soma)

16

<h2> Acessando múltiplos valores </h2>

Também é possível acessar mais de 1 valor ao mesmo tempo colocando entre os colchetes de onde até onde você quer acessar.

> `t2[0:2]` : são os 2 primeiros valor desta tupla : `1, 3` <br>
> `t2[2:4]` : são o 3º e o 4º valor desta tupla    : `5, 7` <br>
> `t2[:3] ` : são os 3 primeiros valor desta tupla : `1, 3, 5` <br>
> `t2[2:] ` : é do 3º ao último termo desta tupla  : `5, 7` <br>
> `t2[-1] ` : é último termo desta tupla           : `7` <br>

Lembre-se que assim como no **range** o último valor dentro do colchete não é acessado.

<h3> Exemplo 3 </h3>

Vamos testar os itens acima?

In [ ]:
# Imprimindo valores
print(t2)
print()
print(t2[0:2])

(1, 3, 5, 7)

(1, 3)

## Tipo e suas propriedades

**As tuplas são imutáveis**, ou seja, a partir do momento que ela é declarada ela não pode mais mudar seus valores.

<h3> Exemplo 1 </h3>

Defina uma tupla:

t2 = (1, 3, 5, 7)

E em seguida tente mudar o seu terceiro valor para 8

In [ ]:
# Definindo a tupla

# Modificando seu valor

Repare no erro!!! Realmente não é possível mudar o seu valor!

**Então para que iremos usá-la?**

Já que ela é definida no começo do programa e depois não pode mais ser mudada ela é muito utilizada como variável de segurança para evitar modificações acidentais durante a execução de programas complexos.

<h2> Tipo da tupla e de seus valores </h2>

A tupla possui o próprio tipo: `tuple`. Porém os valores de cada um dos seus termos permanecem com o tipo original. 

Mas é claro... se pegarmos vários valores dentro da tupla ele será listado como tupla ainda!!!

<h3> Exemplo 2 </h3>

Verifique o tipo das variáveis: 

* `t3`
* `t3[0]`
* `t3[1]`
* `t3[2]`
* `t3[0:2]`
* `t3[1:]`

In [ ]:
# Imprimindo as variáveis e seus tipos.
print(t3)
print()
print(type(t3[0:2]))

('lanche', 10.9, 3, True)

<class 'tuple'>

## Funções com Tuplas

Temos algumas funções muito usadas em tuplas:

> `len(t1)` : qtd de termos <br>
> `sorted(t1)` : ordenar <br>
> `t1.count(valor)` : contar a qtd de “valor” <br>
> `t1.index(valor)` : achar a 1ª posição de “valor” <br>
> `t1.index(valor,pos)`	: achar “valor” a partir da “pos” <br>
> `t1 + t2` : concatenar tuplas <br>

<h3> Exemplo 3 </h3>

Utilizando as tuplas abaixo:

```
t1 = ('Lanche', 'Batata', 'Refri')
t2 = (0, 6, 4, 2, 8, 6, 4)
t3 = (1, 3, 3, 5, 3, 5, 7)
```
Faça:

* Calcule o tamanho das tuplas: t1 e t2
* Imprima as tuplas ordenadas: t1 e t2 e depois reimprima-as
* Conte quantas vezes aparecem o valor 3 na t3
* Procure onde aparece o valor 'Refri' na t1
* Procure o valor 5 na t3 após o 4º termo
* Concatene as tuplas t2 e t3

In [ ]:
# Declarando as Tuplas
t1 = ('Lanche', 'Batata', 'Refri')
t2 = (0, 6, 4, 2, 8, 6, 4)
t3 = (1, 3, 3, 5, 3, 5, 7)

In [ ]:
# Tamanho das tuplas t1 e t2
print(len(t1))

3

In [ ]:
# Imprimindo tuplas ordenadas t1 e t2
ordenado = sorted(t2)

print(ordenado)
# Extra: verifique o tipo da variável ordenada t1
print(type(ordenado))

[0, 2, 4, 4, 6, 6, 8]
<class 'list'>

In [ ]:
# Conte quantas vezes aparece 3 na t3
contagem = t3.count(3)

print(contagem)

3

In [ ]:
# Aonde aparece 'Refri' na t1
print(t1)
pos = t1.index('Refri')
print(pos)

('Lanche', 'Batata', 'Refri')
2

In [ ]:
# Procure valor 5 na t3 após o 4º termo
print(t3)

pos = t3.index(5,4)
print(pos)

(1, 3, 3, 5, 3, 5, 7)
5

In [ ]:
# Concatene as tuplas t2 e t3
print(t2 + t3)
# Concatene as tuplas t3 e t2
print(t3 + t2)

(0, 6, 4, 2, 8, 6, 4, 1, 3, 3, 5, 3, 5, 7)
(1, 3, 3, 5, 3, 5, 7, 0, 6, 4, 2, 8, 6, 4)

Olhando este último exemplo, aparece a dúvida: e se eu quisesse somar os termos das tuplas? E multiplicar?

Para isso teremos que juntar com o conceito das aulas de repetições!!!

## Tuplas dentro de For

As tuplas possuem vários valores, assim como o range. Portanto podemos rodar um looping de for com os valores diretos de uma lista

<h2> Estrutura </h2>

A partir do momento que a tupla está definida podemos rodar o for utilizando:

```
for i in tupla:
```
Quando utilizarmos esse comando em cada passo do loop a variável de controle `i` vai valer cada item da tupla até percorrermos toda a tupla.

<h3> Exemplo 1 </h3>

Dada a tupla:

`t1 = ('Lanche','Refri','Batata')`

Imprima seus valores

In [ ]:
t1 = ('Lanche','Refri','Batata')

for i in t1:
  print('temos no nosso cardápio: {}'.format(i))
print()
print('-'*10,"Fim",'-'*10)

temos no nosso cardápio: Lanche
temos no nosso cardápio: Refri
temos no nosso cardápio: Batata

---------- Fim ----------

<h2> Exemplo 2 <h2>

Dado a tupla t2 some todos os seus valores

In [ ]:
print(t2)
soma = 0

for i in t2:
  soma += i
  print('i = {} e a soma = {}'.format(i, soma))
print(soma)

(0, 6, 4, 2, 8, 6, 4)
i = 0 e a soma = 0
i = 6 e a soma = 6
i = 4 e a soma = 10
i = 2 e a soma = 12
i = 8 e a soma = 20
i = 6 e a soma = 26
i = 4 e a soma = 30
30

Observe que nos exemplos acima nós nem precisamos saber qual era o tamanho da tupla para o programa rodar. 

Mas, e se precisarmos saber qual é o indice de cada valor dentro do loop? Para isso usaremos o:

<h1> Enumerate() </h1>

Quando usamos essa função dentro da declaração de um for ela vai mostrar para a gente tanto o valor da variável de controle quanto também o índice dela. Só precisamos fazer um pequeno ajuste na sintaxe:

```
for indice,valor in enumerate(t1):
```

<h3> Exemplo 1 </h3>

Plote os itens da tupla t1, mostrando os seus índices, como se fosse um cardápio

In [ ]:
print(t1)

for indice, valor in enumerate(t1):
  print('para indice = {} nos temos o valor {}'.format(indice, valor))

('Lanche', 'Refri', 'Batata')
para indice = 0 nos temos o valor Lanche
para indice = 1 nos temos o valor Refri
para indice = 2 nos temos o valor Batata

# Exercícios

<h2> Exercício 1 </h2> 

Dada a tupla abaixo:
```
t1 = ('Doce', 'Churrasco', 'Bala ', 'Tapioca', 'Pizza ', 'Feijão ', 
      'Arroz ', 'Açaí ', 'Paçoca ', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')
```
Faça um programa que:

* O usuário digita uma comida e seu programa diz em qual posição do cardápio esse item está
* Printe os itens em ordem alfabética para o usuário

In [ ]:
t1 = ('Doce', 'Churrasco', 'Bala', 'Tapioca', 'Pizza', 'Feijão', 
      'Arroz', 'Açaí', 'Paçoca', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')
print(sorted(t1))
x = input('Digite a comida preterida: ')

print(t1.index(x))

print('-'*10,"Fim",'-'*10)

['Acarajé', 'Arroz', 'Açaí', 'Bala', 'Churrasco', 'Dobradinha', 'Doce', 'Feijão', 'Pamonha', 'Paçoca', 'Pizza', 'Rapadura', 'Tapioca']
Digite a comida preterida: Bala
2
---------- Fim ----------

<h2> Exercício 2 </h2> 

Dado a tupla abaixo:
```
t1 = ('Doce', 2.3, 'Bala ', 0.15, 'Pizza ', 28.9, 'Arroz ', 4.5, 'Paçoca ', 0.5, 'Pamonha', 5.4)
```
Os dados estão organizados de forma que tem o valor do produto e logo após o seu preço. Faça um programa que:

* Mostre o cardápio de forma organizada

Resultado esperado: 

![image.png]()

In [ ]:
t1 = ('Doce', 2.3, 'Bala ', 0.15, 'Pizza ', 28.9, 'Arroz ', 4.5, 'Paçoca ', 0.5, 'Pamonha', 5.4)
print('-'*42)
print('-'*16,'Cardápio','-'*16)
print('-'*42)


print(t1[0],'.'*25,' ',': R$',t1[1])
print(t1[2],'.'*24,' ',': R$',t1[3])
print(t1[4],'.'*23,' ',': R$',t1[5])
print(t1[6],'.'*23,' ',': R$',t1[7])
print(t1[8],'.'*22,' ',': R$',t1[9])
print(t1[10],'.'*22,' ',': R$',t1[11])

print('-'*42)

------------------------------------------
---------------- Cardápio ----------------
------------------------------------------
Doce .........................   : R$ 2.3
Bala  ........................   : R$ 0.15
Pizza  .......................   : R$ 28.9
Arroz  .......................   : R$ 4.5
Paçoca  ......................   : R$ 0.5
Pamonha ......................   : R$ 5.4
------------------------------------------

<h2> Exercício 3 </h2> 

Dado a mesma tupla do exercício anterior faça um programa que:

* O usuário visualiza o cardápio e digita qual item ele quer comprar. A seguir pergunta se ele quer algo a mais. Caso ele queira vai somando todos os valores do pedido numa variável `soma`. 
* No final printe para o usuário o valor total da conta dele

In [ ]:
t1 = ('Doce', 2.3, 'Bala ', 0.15, 'Pizza ', 28.9, 'Arroz ', 4.5, 'Paçoca ', 0.5, 'Pamonha', 5.4)
print('-'*30)
print(f'{"Cardápio":^30}')
print('-'*30)
for pos in range(0,len(t1)):
  if pos % 2 == 0:
    print(f'{t1[pos]:.<20}', end='')
  else:
    print(f'R${t1[pos]:>6.2f}')
print('-'*30)

soma = 0
i = 0
mais = 's'

while mais == 's':

  carrinho = input("Digite a sua escolha do cardápio: ")
 
  if carrinho == 'Doce':
    i = t1[1]
   
  elif carrinho == 'Bala':
    i = t1[3]
   
  elif carrinho == 'Pizza':
    i = t1[5]
   
  elif carrinho == 'Arroz':
    i = t1[7]
   
  elif carrinho == 'Paçoca':
    i = t1[9]
   
  elif carrinho == 'Pamonha':
    i = t1[11]  

  soma = soma + i
  mais = input("Você quer continuar a adicionar mais itens? (s/n): ")

print('O valor total da sua conta é: R${:.2f}.'.format(soma))

------------------------------
           Cardápio
------------------------------
Doce................R$  2.30
Bala ...............R$  0.15
Pizza ..............R$ 28.90
Arroz ..............R$  4.50
Paçoca .............R$  0.50
Pamonha.............R$  5.40
------------------------------
Digite a sua escolha do cardápio: Doce
Você quer continuar a adicionar mais itens? (s/n): s
Digite a sua escolha do cardápio: Bala
Você quer continuar a adicionar mais itens? (s/n): n
O valor total da sua conta é: R$2.45.